.main-content {
    margin: 0 20px 0 20px;
}

/* Titre principal */
.intro h1 {
    text-align: center;
    font-size: 35px;
    color: #462009;
}

/* Section des détails du restaurant */
.restaurant-detail {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.restaurant-detail h3 {
    color: #462009;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 24px;
    border-bottom: 2px solid #462009c4;
    padding-bottom: 5px;
}

.restaurant-info h2 {
    color: #555;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 0px;
    font-size: 24px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.opening-hours {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 20px;
}

.opening-hours li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.restaurant-info p {
    margin-left: 10px;
}

#contact {
    margin-left: 20px;
}

#contact a {
    margin-left: 15px;
}

/* Style pour les options */
#type {
    display: block;
    margin-top: 15px;
    font-size: 1.2rem;
    color: #333;
}

.restaurant-detail p strong {
    display: block;
    margin-top: 15px;
    font-size: 1.2rem;
    color: #333;
}

/* Liens */
.restaurant-detail a {
    color: #007bff;
    text-decoration: none;
    transition: 0.3s;
}

.restaurant-detail a:hover {
    text-decoration: underline;
}

/* Section des avis */
.avis-section {
    margin-top: -15px;
    padding: 15px;
}

.avis-section h3 {
    font-size: 1.3rem;
    color: #444;
    margin-bottom: 10px;
}

/* Google Maps */
.map-container {
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Etoiles */
.notation-avis {
    margin-left: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.stars-container {
    position:relative;
    display: inline-block;
    font-size: 1rem;
    color:#ccc;
}

.stars-background {
    display: flex;
}

.stars-filled {
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    color: #b7b40e;
    overflow: hidden;
    white-space: nowrap;
}

.avis {
    margin-left: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ddd;;
}

.comment {
    margin: 5px 0 5px 10px;
}

/* Styles généraux du formulaire */
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    
}

/* Espacement entre les groupes de champs */
form div {
    margin-bottom: 15px;
}

/* Styles des labels */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Zone de texte */
.avis-textarea {
    width: 96%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-size: 14px;
    font-family: 'Franklin Gothic';
}

/* Styles du menu déroulant */
select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    background: white;
    cursor: pointer;
}

/* Option de notation en étoiles */
.stars-filled {
    font-size: 16px;
}

/* Bouton de soumission */
.add-avis-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: #7A0E15;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.add-avis-btn:hover {
    background: #9D121B;
}
