footer {
    background-color: #ede7e0 ;
    text-align: center;
    border-color: #462009 ;
    border-top: solid;
    padding-bottom: 0.50%;
    padding-top: 5px;
    // position: fixed;
    bottom: 0;
    width: 100%;
}